{% extends 'layout.html' %}

{% block content %}
    <h4 class="text-2xl font-bold mb-10">Cadastro de Produtos</h4>
    <form class="text-gray-300" action="{% url 'products:create' %}" method="POST">
        {% csrf_token %}
        <div class="grid grid-cols-4 gap-4 mb-6">
            <div>
                <label for="precoInput"
                    class="block mb-2 text-md font-medium">Preço</label>
                <input type="text" id="precoInput" pattern="[0-9]*" name="preco" required maxlength="10"
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
            </div>
            <div>
                <label for="qtd_estoqueInput"
                    class="block mb-2 text-md font-medium">Quantidade</label>
                <input type="text" id="qtd_estoqueInput" pattern="[0-9]*" name="qtd_estoque" required
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
            </div>
        </div>
        <div class="grid grid-cols-4 gap-4 mb-6">
            <div class="col-span-2">
                <label for="descricaoInput"
                    class="block mb-2 text-md font-medium">Descrição</label>
                <textarea type="text" id="descricaoInput" name="descricao" required maxlength="100"
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none"></textarea>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-4 mb-6">
            <div class="w-fit col-span-2 justify-self-end">
                <button type="submit"
                    class="outline-none focus:ring-4 focus:ring-green-800 font-medium rounded-md text-md px-6 py-3 bg-green-600 hover:bg-green-700">Salvar</button>
            </div>
        </div>

    </form>
{% endblock content %}
