<nav class="w-1/6 h-full bg-zinc-800 rounded-xl flex flex-col">
    <div class="navbar-header text-center py-10">
        <a href="/">
            <h1 class="text-4xl font-bold p-10" title="logo">Teste</h1>
        </a>
    </div>
    <div class="navbar-content flex flex-1">
        <ul class="flex flex-col font-bold text-xl px-3 space-y-2">
            <a href="/">
                <li class="flex w-full px-7 py-5 hover:bg-zinc-700 rounded-md items-center space-x-5">
                    <i class="fa-solid fa-house text-2xl"></i>
                    <span>Home</span>
                </li>
            </a>
            <a href="/products">
                <li class="flex w-full px-7 py-5 hover:bg-zinc-700 rounded-md items-center space-x-5">
                    <i class="fa-solid fa-box text-2xl"></i>
                    <span>Products</span>
                </li>
            </a>
        </ul>
    </div>
    <div class="navbar-footer">
        <div class="h-fit font-bold text-xl px-3 py-5">
            <a href="/">
                <div class="flex w-full px-7 py-5 hover:bg-zinc-700 rounded-md items-center space-x-5">
                    <i class="fa-solid fa-house text-2xl"></i>
                    <span>Exit</span>
                </div>
            </a>
        </div>
    </div>
</nav>