{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <h4 class="text-2xl font-bold mb-10">Edição de Fornecedor</h4>
    <form class="text-gray-300" action="{% url 'suppliers:edit' fornecedor.id %}" method="POST">
        {% csrf_token %}
        <div class="grid grid-cols-4 gap-4 mb-6">
            <div>
                <label for="nomeInput"
                    class="block mb-2 text-md font-medium">Nome</label>
                <input type="text" id="nomeInput" name="nome" required maxlength="100"
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none" value="{{fornecedor.nome}}">
            </div>
            <div>
                <label for="cnpjInput"
                    class="block mb-2 text-md font-medium">CNPJ</label>
                <input type="text" id="cnpjInput" name="cnpj" required maxlength="20"
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none" value="{{fornecedor.cnpj}}">
            </div>
            <div class="col-span-2">
                <label for="emailInput"
                    class="block mb-2 text-md font-medium">Email</label>
                <input type="email" id="emailInput" name="email" required maxlength="100"
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none" value="{{fornecedor.email}}">
                <p id="emailMessage" class="mt-2 text-sm font-medium"></p>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-4 mb-6">
            <div>
                <label for="telefoneInput"
                    class="block mb-2 text-md font-medium">Telefone</label>
                <input type="text" id="telefoneInput" name="telefone" required maxlength="20"
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none" value="{{fornecedor.telefone}}">
            </div>
            <div>
                <label for="celularInput"
                    class="block mb-2 text-md font-medium">Celular</label>
                <input type="text" id="celularInput" name="celular" required maxlength="20"
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none" value="{{fornecedor.celular}}">
            </div>
            <div>
                <label for="cepInput"
                    class="block mb-2 text-md font-medium">CEP</label>
                <input type="text" id="cepInput" name="cep" required maxlength="20"
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none" value="{{fornecedor.cep}}">
            </div>
            <div>
                <label for="enderecoInput"
                    class="block mb-2 text-md font-medium">Endereco</label>
                <input type="text" id="enderecoInput" name="endereco" required maxlength="200"
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none" value="{{fornecedor.endereco}}">
            </div>
        </div>
        <div class="grid grid-cols-4 gap-4 mb-6">
            <div>
                <label for="numeroInput"
                    class="block mb-2 text-md font-medium">Número</label>
                <input type="text" id="numeroInput" name="numero" required maxlength="10"
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none" value="{{fornecedor.numero}}">
            </div>
            <div>
                <label for="bairroInput"
                    class="block mb-2 text-md font-medium">Bairro</label>
                <input type="text" id="bairroInput" name="bairro" required maxlength="50"
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none" value="{{fornecedor.bairro}}">
            </div>
            <div>
                <label for="cidadeInput"
                    class="block mb-2 text-md font-medium">Cidade</label>
                <input type="text" id="cidadeInput" name="cidade" required maxlength="50"
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none" value="{{fornecedor.cidade}}">
            </div>
            <div>
                <label for="ufInput"
                    class="block mb-2 text-md font-medium">UF</label>
                {% include 'components/uf_select.html' with pass=fornecedor screen="edit" %}
            </div>
        </div>
        <div class="grid grid-cols-4 gap-4 mb-6">
            <div class="col-span-4">
                <label for="complementoInput"
                    class="block mb-2 text-md font-medium">Complemento</label>
                <textarea type="text" id="complementoInput" name="complemento" maxlength="50"
                    class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">{{fornecedor.complemento}}</textarea>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-4">
            <div class="col-span-4 justify-self-end">
                <a class="mr-4" href="{% url 'suppliers:home' %}">
                    <button type="button"
                        class="outline-none focus:ring-4 focus:ring-red-800 font-medium rounded-md text-md px-6 py-3 bg-red-600 hover:bg-red-700">Cancelar</button>
                </a>
                <button type="submit"
                    class="outline-none focus:ring-4 focus:ring-green-800 font-medium rounded-md text-md px-6 py-3 bg-green-600 hover:bg-green-700">Salvar</button>
            </div>
        </div>
    </form>
{% endblock content %}

{% block js %}
  <script src="{% static 'suppliers/js/input_patterns.js' %}"></script>
  <script src="{% static 'core/js/cep_finder.js' %}"></script>
{% endblock js %}
