<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <body>
        Cliente

        <ul>
            {% for cliente in clientes %}
            <li>
                {{cliente.nome}} - {{cliente.rg}}- {{cliente.cpf}}
            </li>
            {% endfor %}
        </ul>

        <form action="{% url 'salvar' %}" method="POST">
            {% csrf_token %}
            <div class="grid grid-cols-4 gap-4 mb-6">
                <div>
                    <label for="nomeInput"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Nome</label>
                    <input type="text" id="nomeInput" name="nome"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="rgInput" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">RG</label>
                    <input type="number" id="rgInput" name="rg"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="cpfInput"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">CPF</label>
                    <input type="number" id="cpfInput" name="cpf"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="emailInput"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">eMail</label>
                    <input type="text" id="emailInput" name="email"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="celularInput"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Celular</label>
                    <input type="text" id="celularInput" name="celular"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="cepInput"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">CEP</label>
                    <input type="text" id="cepInput" name="cep"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>

                <div>
                    <label for="enderecoInput"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Endereco</label>
                    <input type="text" id="enderecoInput" name="endereco"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="numeroInput"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Número</label>
                    <input type="number" id="numeroInput" name="numero"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="complementoInput"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Complemento</label>
                    <input type="text" id="ncomplementoInput" name="complemento"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="bairroInput"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Bairro</label>
                    <input type="text" id="bairroInput" name="bairro"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="cidadeInput"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Cidade</label>
                    <input type="text" id="cidadeInput" name="cidade"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="ufInput"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Cidade</label>
                    <input type="text" id="ufInput" name="uf"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
            </div>
            <button type="submit"
                class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Salvar</button>

        </form>
    </body>

</body>

</html>