{% extends 'layout.html' %}
{% load static %}

{% block content %}
<h4 class="text-2xl font-bold mb-10">Atualizar Cliente</h4>
<form class="text-gray-300" action="{% url 'clients:edit' cliente.id %}" method="POST">
    {% csrf_token %}
    <div class="grid grid-cols-4 gap-4 mb-6">
        <div>
            <label for="nomeInput" class="block mb-2 text-md font-medium">Nome</label>
            <input 
                value="{{cliente.nome}}"
                type="text" 
                id="nomeInput" 
                name="nome" 
                required
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
        </div>
        <div>
            <label for="rgInput" class="block mb-2 text-md font-medium">RG</label>
            <input 
                value="{{cliente.rg}}"
                type="text" 
                id="rgInput" 
                name="rg" 
                required
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
        </div>
        <div>
            <label for="cpfInput" class="block mb-2 text-md font-medium">CPF</label>
            <input
                value="{{cliente.cpf}}" 
                type="text" 
                id="cpfInput" 
                name="cpf" 
                required
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
        </div>
        <div>
            <label for="emailInput" class="block mb-2 text-md font-medium">E-mail</label>
            <input 
                value="{{cliente.email}}"
                type="email" 
                id="emailInput" 
                name="email" 
                required
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
            <p id="emailMessage"></p>
        </div>
    </div>
    <div class="grid grid-cols-4 gap-4 mb-6">
        <div>
            <label for="telefoneInput" class="block mb-2 text-md font-medium">Telefone</label>
            <input 
                value="{{cliente.telefone}}"
                type="text" 
                id="telefoneInput" 
                name="telefone" 
                required
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
        </div>
        <div>
            <label for="celularInput" class="block mb-2 text-md font-medium">Celular</label>
            <input 
                value="{{cliente.celular}}"
                type="text" 
                id="celularInput" 
                name="celular" 
                required
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
        </div>
        <div>
            <label for="cepInput" class="block mb-2 text-md font-medium">CEP</label>
            <input
                value="{{cliente.cep}}" 
                type="text" 
                id="cepInput" 
                name="cep" 
                required
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
        </div>
        <div>
            <label for="enderecoInput" class="block mb-2 text-md font-medium">Endereco</label>
            <input 
                value="{{cliente.endereco}}"
                type="text" 
                id="enderecoInput" 
                name="endereco" 
                required
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
            <p id="emailMessage"></p>
        </div>
    </div>
    <div class="grid grid-cols-4 gap-4 mb-6">
        <div>
            <label for="numeroInput" class="block mb-2 text-md font-medium">Numero</label>
            <input 
                value="{{cliente.numero}}"
                type="number" 
                id="numeroInput" 
                name="numero" 
                required
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
        </div>
        <div>
            <label for="bairroInput" class="block mb-2 text-md font-medium">Bairro</label>
            <input
                value="{{cliente.bairro}}" 
                type="text" 
                id="bairroInput" 
                name="bairro" 
                required
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
        </div>
        <div>
            <label for="cidadeInput" class="block mb-2 text-md font-medium">Cidade</label>
            <input 
                value="{{cliente.cidade}}" 
                type="text" 
                id="cidadeInput" 
                name="cidade" 
                required
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none">
        </div>
        <div>
            <label for="ufInput"
                class="block mb-2 text-md font-medium">UF</label>
            {% include 'components/uf_select.html' with pass=cliente screen="edit" %}
        </div>
    </div>
    <div class="grid grid-cols-1 gap-4 mb-6">
        <div class="col-span-2">
            <label for="complementoInput" class="block mb-2 text-md font-medium">Complemento</label>
            <textarea 
                value="{{cliente.complemento}}" 
                type="text" id="complementoInput" 
                name="complemento" 
                maxlength="100"
                class="block w-full p-3 rounded-md bg-zinc-700 focus:ring-4 focus:ring-zinc-500 outline-none"></textarea>
        </div>
    </div>
    <div class="grid grid-cols-1 gap-4">
        <div class="col-span-2 justify-self-end">
            <a class="mr-4" href="{% url 'clients:home' %}">
                <button type="button"
                    class="outline-none focus:ring-4 focus:ring-red-800 font-medium rounded-md text-md px-6 py-3 bg-red-600 hover:bg-red-700">Cancelar</button>
            </a>
            <button type="submit"
                class="outline-none focus:ring-4 focus:ring-green-800 font-medium rounded-md text-md px-6 py-3 bg-green-600 hover:bg-green-700">Salvar</button>
        </div>
    </div>
</form>
{% endblock content %}

{% block js %}
  <script src="{% static 'clients/js/input_patterns.js' %}"></script>
{% endblock js %}